@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: url(../public/ferdinand-stohr-NFs6dRTBgaM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Scrollbar thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Scrollbar thumb color on hover */
}

/* Apply to all scrollable divs */
.scrollable {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox scrollbar */
  scrollbar-color: #555 #1e1e1e;
}
